<h1>Upload your recipe</h1>

<div class="container is-max-desktop">
<form action="/recipes" method="POST">
   
    <div class="field">
        <label for="username"></label>
        <input type="hidden" id="username" name="username" value="<%= currentUser.name %>" required>
      </div>

      
    <div class="field">
          <label for="name"></label>
          <input type="text" class="input is-primary" id="name" name="name" required placeholder="Name of dish">
    </div>
    
    <div class="field">
      <label for="difficulty">Difficulty Level</label>
      <select class="select is-small is-focused" id="difficulty" name="difficulty" required>
          <option value="easy">Easy</option>
          <option value="intermidiate">Intermidiate</option>
          <option value="hard">Hard</option>
      </select>
  </div>

    <div class="field">
      <label for="story">Story:</label>
      <textarea class="textarea" id="story" name="story" placeholder="What makes this dish special?" required></textarea>  
    </div>
    

  <div class="field">
    <label for="ingredients">Ingredients:</label>
    <textarea class="textarea" id="ingredients" name="ingredients" 
    placeholder="Seperate each ingredient by a comma (i.e. 1 lb Chicken breast, 2 tbs Salt, 1 tbs Butter)" required></textarea>
  </div>

  <div class="field">
    <label for="method">Method:</label>
    <textarea class="textarea" id="method" name="method" required 
    placeholder="Describe the cooking proccess for the dish"></textarea>
  </div>

  <input type="submit" class="button is-primary">
</form>
</div>
