<h1>Upload your recipe</h1>

<div class="container is-max-desktop">
<form action="/recipes" method="POST">
   
    <div class="form-group">
        <label for="username"></label>
        <input type="hidden" id="username" name="username" value="<%= currentUser.name %>" required>
      </div>

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" required>
  </div>

  <div class="form-group">
    <label for="difficulty">Difficulty Level</label>
    <select class="select is-small is-focused" id="difficulty" name="difficulty" required>
        <option value="easy">Easy</option>
        <option value="intermidiate">Intermidiate</option>
        <option value="hard">Hard</option>
    </select>
</div>

  <div class="form-group">
    <label for="ingredients">Ingredients</label>
    <textarea type="text" class="textarea" id="ingredients" name="ingredients" placeholder="Ingredients: seperate each ingredient by a comma" required></textarea>
  </div>
  <div class="form-group">
    <label for="method">Method</label>
    <textarea type="text" class="textarea" id="method" name="method" required placeholder="Instructions"></textarea>
  </div>

  <input type="submit" class="btn btn-primary">
</form>
</div>
