<% const ingredientsArray = ingredients.split(",") %>


<h1>
    <%= name %> 
</h1>
<h3>
    <%= difficulty %> 
</h3>
<ul>
    <% ingredientsArray.forEach((ingredient) =>{ %>
        <li><%= ingredient %></li>
   <% }) %> 
</ul>
<p>
    <%= method %> 
</p>